body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: black;
    color: white;
    font-size: 1.5rem;
    font-family: monospace;
}

#image{
    height: 30%;
    background-image: url('Image.png');
    background-size: cover;
}

p, h1{
    text-align: center;
}

#root{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#name{
    height: 50%;
}

#buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
    flex-wrap: wrap;
    height: 40%;
    overflow: hidden;
}

.button button{
    all: unset;
    border: 2px solid white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    overflow: hidden;
}

.button button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-color: orange;
}

#name h1{
    margin-bottom: 0;
    transition: color 0.7s ease;
}

#name p{
    margin-top: 5px
}

#name h1:hover{
    color: orange;
}

@media (max-width: 844px) {
    #buttons{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50%;
    }
    #root{
        font-size: 1rem;
    }  
    #root{
        height: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }  
    #name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30%;
    }
}

@media (max-width: 600px) {
    #buttons{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50%;
    }
    #root{
        font-size: 14px;
    }

}

#aboutSection {
    overflow-y: auto;
    margin: 20px auto;
    padding: 15px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.goBack {
    all: unset;
    border: 2px solid white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    text-align: center;
    margin-top: 10px;
}

.goBack:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-color: orange;
}

#projectSection{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

#projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.project-div{
    width: 250px;
    min-height: 300px;
    border: 1px solid gray;
    background: linear-gradient(125deg, #004D40, black);
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.6s ease, border-color 0.5s ease, transform 0.7s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
}

.project-div h1{
    font-size: 1.1rem;
    text-align: left;
    text-align: center;
    color: rgb(6, 244, 6);
    padding: 10px;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.project-div p{
    font-size: 0.8rem;
    text-align: left;
    text-align: center;
    color: white;
    padding: 10px;
}

.project-div:hover{
    background-color: lightgreen;
    border-color: black;
    transform: scale(1.05);
}

.project-div a{
    all: unset;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
    font-size: 18px;
    width: 60%;
    border-radius: 20px;
    transition: border-color 0.5s ease;
    margin: auto;
    margin-bottom: 10px;
}

.project-div a:hover{
    border-color: rgba(255, 255, 255, 1);
}
